
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0;
    padding: 20px 0 0 ;
    transform: translateY(-40px);
    transition: all 0.8s ease;


}


.header.visible {
    opacity: 1;
    transform: translateY(0);
}

.header.animate-in {
    transform: translateY(0);
    opacity: 1;
}

header.moved {
    padding: 10px 0;
}

.header-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header-body {
    padding: 16px;
    gap: 20px;
    transition: .3s;
    position: relative;
    z-index: 2;
    border-radius: 500px;
    background: var(--black);
    justify-content: space-between;

}
.header-body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(25px);
    --webkit-filter: blur(25px);
    z-index: -1;
    border-radius: 500px;

}
.menu{
    margin-left: 150px;
}

.menu-bg {
    display: none;
}

.menu-list {
    gap: 25px;

}

.menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--white);
    transition: .5s;

}

.menu-link:hover {
   color: var(--gold);
}

.header-logo {
    margin-left: 16px;
    max-width: 112px;
}

.header-actions {
    gap: 10px;
}

.btn-login {
    border: 1px solid var(--gray);
    background: var(--black);
    border-radius: 15px;
    padding: 12px 31px;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    transition: .5s;

}

.btn-login:hover {
    background: var(--gold);
    color: var(--dark-black);

}

.btn-register {
    background: var(--dark-black);
    border-radius: 15px;
    padding: 13px 31px;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    transition: .5s;

}

.btn-register:hover {
    background: var(--gold);
    color: var(--dark-black);

}
.header-mobile-actions {
    display: none;
}


.burger {
    display: none;
}


@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

    .menu {
        margin-left: 0;
    }

    .header-body {
        position: static;
        gap: 10px;
    }

    .menu-list {
        gap: 10px;
    }

}

@media (max-width: 992px) {
    .burger.active {
        position: relative;
        transition: .3s;
        z-index: 3;
    }


    .menu-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 44px;
        border-radius: 16px;
        padding: 52px 20px 20px 20px;
        position: relative;
        z-index: 2;
        background: var(--black);

    }


    .header-body::after {
        display: none;
    }

    .menu-link {
        text-align: center;

    }

    .menu-bg {
        backdrop-filter: blur(20px);
        --webkit-filter: blur(20px);
        background: #00000066;
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 0;
        z-index: -1;
        transition: .5s;
        display: block;

    }

    .menu-bg.active {
        top: 0;
        height: 100vh;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .5s;
        z-index: 4;
        gap: 5.5px;
    }

    .burger span {
        width: 23px;
        display: block;
        height: 2px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    .header-body {
        border: none;
    }

    .burger::after {
        width: 23px;
        display: block;
        height: 2px;
        content: '';
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    .burger::before {
        width: 23px;
        height: 2px;
        content: '';
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }


    .burger.active span {
        opacity: 0;
        visibility: hidden;
    }

    .menu-content-mobile {
        display: block;
        padding: 80px 0 24px;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 6px;
        position: relative;
        background: var(--white);


    }


    .burger.active::after {
        transform: rotate(45deg);
        bottom: 9px;
        position: relative;
        background: var(--white);

    }


    .menu {
        position: fixed;
        top: -800%;
        width: 100%;
        transition: .5s;
        z-index: 3;
        padding: 0 14px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 10px;
        left: 0;
        max-height: 80vh;
    }


    .menu.active {
        top: 100px;
    }


}

@media (max-width: 768px) {

    .header-actions {
        display: none;
    }

    .header-mobile-actions {
        display: flex;
    }

    .header-mobile-actions .btn-register {
        margin-top: -30px;
        padding: 12px 28px 12px 28px;
    }

    .header-mobile-actions .btn-login {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {

    .header-mobile-actions button {
        width: 100%;
    }

    .header-mobile-actions {
        width: 100%;
    }

    .header-logo {
        margin-left: 0;
    }

    header {
        padding: 10px 0 0 ;

    }


    .header-decor::after {
        display: none;
    }

    .header-body {
        padding: 20px;
    }

    .menu.active {
        top: 88px;
    }

}

@media (max-width: 400px) {

}